REQ-ID:JS1
Description: The product shall make returned tickets available for re-allocation
Type: Functional Requirement
Rationale: To be able to reassign returned tickets to a new customer
Originator: Polly
Comments:
REQ-ID:JS2
Description: The product shall remove returned tickets from the customer’s account
Type: Functional Requirement
Rationale: To be able to show the customer the tickets they currently have allocated to them
Originator: Polly
Comments:
REQ-ID:MB1	
Description:The product shall issue a confirmation email.
Type:Functional Requirement
Rationale: To provide customer with confirmation of ticket return.
Originator:Customer
Comments: [Matt Burger] Added functional requirement.
REQ-ID:MB2
Description:The product shall issue a confirmation return ticket reference.
Type:Functional Requirement
Rationale: If there is no payment refunded, customer refers to reference.
Originator:Customer
Comments: [Matt Burger] Added functional requirement.
REQ-ID: GC1
Description: The product shall create a waiting list of customers for event when tickets sold out.
Type: Functional Requirement
Rationale: Customer who can not find a ticket for an event can decide to be added to a waiting list
Originator: Thomas
Comments: [Goneta Cisse] Added this functional requirement.
REQ-ID: GC2
Description: The product shall allocate returned tickets to customer on a waiting list.
Type: Functional Requirement
Rationale: Returned tickets must be allocated fairly on the basis of first arrived first served on the top of the waiting list but also give the option to decide manually which customer to allocate ticket.
Originator: Polly
Comments: [Goneta Cisse] Added this functional requirement.
REQ-ID: MS1
Description: The product shall allow it so that customers can request to return tickets they have purchased
Type: Functional Requirement
Rationale: Customers need to be provided the facility to return tickets they have purchased
Originator: Thomas
Comments: [Mark Shepherd] Added this functional requirement.
REQ-ID: MS2
Description: The product shall allow all returned tickets to be reallocated or made publicly available after a review is performed
Type: Functional Requirement
Rationale: Analysis needs to be performed daily on returned tickets to detect patterns and prevent fraud 
Originator: Polly
Comments: [Mark Shepherd] Added this functional requirement.
REQ-ID: DW1
Description: The product shall use confirmation dialog to restate customer’s intent to return ticket.
Type: Functional Requirement
Rationale: Give user a second chance and prevent user error.
Originator: Customer
Comments: [Daniel Wright] Added functional requirement.
REQ-ID: DW2
Description: The product shall update real-time ticket inventory with returned tickets.
Type: Functional Requirement
Rationale: Permits reallocation of tickets.
Originator: Polly
Comments: [Daniel Wright] Added functional requirement.
REQ-ID: PS1
Description: The product shall take into account the number of returned tickets and the number of requested tickets by customers on the waiting list during reallocation.
Type: Functional Requirement
Rationale: The number of returned tickets might not match the desired tickets of the first customer on the waiting list and therefore leave him unsatisfied if he doesn't get seats next to each other.
Originator: Polly
REQ-ID: PS2
Description: The product shall display the returned tickets grouped by the reason of return.
Type: Functional Requirement
Rationale: In order to conduct the planned daily review upon ticket returns a condensed overview is needed to detect patterns.
Originator: Polly
REQ-ID: YI1
Description: Product shall receive information that tickets are returned with the reason.
Type: Functional Requirement
Rationale: The reason is mandatory in order to analyze the patterns of ticket-return for protecting the Games from fraud.
Originator: Polly Gray
Comments: [Yasuhiro Ide] Added a functional requirement.
REQ-ID: YI2
Description: Product shall make the tickets returned available to purchase for the customers who are in waiting list every 24 hours if anyone in the list.
Type: Functional Requirement
Rationale: 24 hours would give enough time for Thomas and Polly to analyze the patterns of ticket-return for protecting the Games from fraud, and to consider how it should be allocated.
Originator: Polly Gray
Comments: [Yasuhiro Ide] Added a functional requirement.
REQ-ID: YJ1
Description: Customers can return tickets 
Type: Functional Requirement
Rationale: Customers have the right to return tickets that are no longer required whatever their reasons might be
Originator: Thomas
Comments: [Young Jin, Won] Added this functional requirement.
REQ-ID: YJ2
Description: When tickets are returned for an event which is fully booked, the tickets should be immediately allocated to those at the top of the waiting list
Type: Functional Requirement
Rationale: This Requirement is a candidate, not yet fixed
Originator: Chester
Comments: [Young Jin, Won] Added this functional requirement.
REQ-ID: AJ1
Description: Returned tickets are put 'on hold' for revision before being re-assigned 
Type: Functional Requirement
Rationale: Thomas and Polly want to revise returns before re-assignment in order to identify suspicious patterns and/or frauds
Originator: Polly
Comments: [Adrian Joseph] Added this functional requirement.
REQ-ID: AJ2
Description: Customer returning should receive a confirmation of successful return (i.e. e-mail, reimburse, vouchers, etc.)
Type: Functional Requirement
Rationale: Thomas wants to encourage tickets to be returned to avoid the raise of a black market, and customer are likely to return tickets only if a clear message is delivered proving a successful return
Originator: Thomas, Customer
Comments: [Adrian Joseph] Added this functional requirement.
REQ-ID: SM1
Type: Functional Requirement
Description: The system shall allow ticket returns that are no longer required
Rationale: Avoid reselling of tickets at inflated rats when tickets become unavailable allowing for fair reallocation of tickets.
Originator: Thomas Shelby
Comments: [Stuart Mathews] Added this functional requirement.
REQ-ID: SM2
Type: Functional Requirement
Description: The system shall allow the selection and purchase of tickets through the website
Rationale: The new ticketing system is to be an online ticketing system available any time and from anywhere on the internet.
Originator: Case Study/original system requirements
Comments: [Stuart Mathews] Added this functional requirement.
REQ-ID: MD1
Type: Functional Requirement
Description: The product will accept the reason for customer returning tickets
Rationale: To aid in the assessment of ticket return patterns that may indicate fraud.
Originator: Polly Grey
Comments: [Malcolm Dunn] Added this functional requirement.
REQ-ID: MD2
Type: Functional Requirement
Description: The product shall calculate the credit value based on the price originally paid and the number of tickets to be returned.
Rationale: The partial return of original ticket orders may be requested by the customer, and prices may have been changed based on demand for the event.
Originator: Thomas Shelby
Comments: [Malcolm Dunn] Added this functional requirement.
REQ-ID: JM1
Type: Functional Requirement
Description: Tickets will be validated to ensure they’re in-date.
Rationale: To ensure only active unused tickets can be refunded.
Originator: Polly Grey
Comments: [Joseph Magnall] Added this functional requirement.
REQ-ID: JM2
Type: Functional Requirement
Description: Returned tickets are added to a reallocation list.
Rationale: Documentation of tickets to be returned is required to reallocate them effectively.
Originator: Polly Grey
Comments: [Joseph Magnall] Added this functional requirement.
REQ-ID: KimHannibal-FR01
Description: Ticket reallocation program to be run once a day so that any seats that may have become available will be allocated to the real-time ticket list
Type: Functional requirement
Rationale: To ensure that available tickets are allocated to those on the waiting list in a manageable and consistent matter
Originator: Ticket sales (Polly Grey)
REQ-ID: KimHannibal-FR02
Description: Ability to reserve a given amount of affordable tickets available only to less well-off people
Type: Functional requirement
Rationale: Avoiding any impression that the well-off have received favourable treatment
Originator: Business Development (Thomas Shelby)
REQ-ID: DK-01
Description: JustTheTicket should allow customers to return tickets
Rationale: Customers should have the flexibility to return tickets for whatever reason. This allows potential customers and those on the waiting list to purchase tickets.
Originator: Thomas, Responsible for Business Development at the Commonwealth Games
REQ-ID: DK-02
Description: JustTheTicket should allow organizers to reserve tickets that are not for sale to the public
Rationale: Officials, sponsors, as well as friends and families of the athletes should have preferential sits allocated to them.
Originator: Thomas, Responsible for Business Development at the Commonwealth Games
