Description: JustTheTicket should allow customers to return tickets
Rationale: Customers should have the flexibility to return tickets for whatever reason. This allows potential customers and those on the waiting list to purchase tickets.
Originator: Thomas, Responsible for Business Development at the Commonwealth Games
Description: JustTheTicket should allow organizers to reserve tickets that are not for sale to the public
Rationale: Officials, sponsors, as well as friends and families of the athletes should have preferential sits allocated to them.
Originator: Thomas, Responsible for Business Development at the Commonwealth Games
